
{% extends 'member_dashboard.html' %}
{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="mb-5">Bienvenue chez Hels association ,chez nous chez vous</h2>
   <div class="row">
      <div class="col-lg shadow">
         <div class="card shadow" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.mWqccJoDXYVzx2lgNyDiTQHaFL?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Hles association est une application vous aide à gerer efficacement votre association</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col-lg shadow">
        <div class="card shadow" style="width: 18rem;">
           <img src="https://th.bing.com/th/id/OIP.oH3bcV8LO9oUFnDFYz7t3gHaDt?rs=1&pid=ImgDetMain" class="card-img-top" *alt="...">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Ici vous pouvez faire des differents dons qui vont aider dans l'avancememnt de l'association </p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
       </div>
     </div>
     <div class="col-lg shadow">
        <div class="card shadow" style="width: 18rem;">
           <img src="https://th.bing.com/th/id/OIP.oH3bcV8LO9oUFnDFYz7t3gHaDt?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}